@use 'abstracts' as *;

.mediaPane {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: var(--tw-space-m);

  @include from('mobile-lg') {
    padding-top: 0;
  }
}

.mediaInner {
  width: 100%;
  max-width: 20rem;
  padding-inline: var(--tw-space-m);

  @include from('mobile-lg') {
    max-width: 28rem;
    padding-inline: 0;
    overflow: hidden;
    padding-top: var(--tw-space-xxs);
    padding-bottom: var(--tw-space-xxs);
  }

  @include from('tablet') {
    margin-left: var(--tw-space-l);
  }
}

.paneSize {
  @include from('tablet') {
    width: 25%;
  }
}

.contentRightOffset {
  @include from('tablet') {
    margin-right: 25%;
  }
}

.contentLeftOffset {
  @include from('tablet') {
    margin-left: 25%;
  }
}
