@use 'abstracts' as *;

.page {
  padding-top: 0;
  padding-bottom: var(--tw-space-xl);

  @include from('mobile-lg') {
    padding-top: var(--tw-space-xl);
    padding-bottom: var(--tw-space-xl);
  }
}

.sectionHeadingWrap {
  margin-top: var(--tw-space-xl);
}

.sectionHeading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: var(--tw-space-m);
}

.servicesWrap {
  margin-top: var(--tw-space-m);
  margin-bottom: var(--tw-space-xxxl);
}
