@use 'abstracts' as *;

.aboutPill {
  display: inline-flex;
  align-items: center;
  margin-top: var(--tw-space-m);
  margin-bottom: var(--tw-space-xxs);
  border-radius: var(--tw-radius-pill);
  padding: 8px 16px;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  transition:
    color 0.15s,
    background-color 0.15s,
    border-color 0.15s;
}

.platformNav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--tw-space-s);
  margin-top: var(--tw-space-xs);
}
